<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'report.readyForDrinking' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h5>{{'report.readyForDrinkingHeader' | translate }}</h5>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let wine of readyToDrinkList">
        <ion-card (click)="selectWine(wine)">
          <ion-card-header>
            {{wine.nom}}
          </ion-card-header>
          <ion-card-content>
            {{'wine.price' | translate }} : {{wine.prixAchat}} - {{'wine.location' | translate }} :
            {{wine.localisation}}
            <br> {{'wine.bottlesLeft' | translate }} :
            <ion-badge slot="end">{{ wine.nbreBouteillesReste}}</ion-badge>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>