<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'page.type' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="list">
    <div *ngIf="typeList.length>0">
      <ion-list>
        <ion-item *ngFor="let type of typeList" (click)="editType(type)">
          {{ type.nom }}
          <!-- <ion-button slot="end" fill="outline">Modify -->
          <ion-icon slot="end" color="dark" name='md-arrow-dropright-circle'></ion-icon>
          <!-- </ion-button> -->
        </ion-item>
      </ion-list>
    </div>
    <ion-button expand="full" (click)="editType(type)">
      {{'general.add' | translate }} {{'type.type' | translate }}
    </ion-button>
  </div>
  <div *ngIf="!list">
    <form [formGroup]="typeForm" id="type-form4">
      <ion-item id="type-input1">
        <ion-label floating translate>type.type</ion-label>
        <ion-input [(ngModel)]="type.nom" type="text" placeholder="{{ 'type.type' | translate }}" formControlName="nom"
          text-right [class.invalid]="!typeForm.controls.nom.valid && (typeForm.controls.nom.dirty || submitted)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!typeForm.controls.nom.valid  && (typeForm.controls.nom.dirty || submitted)">
        <p class="invalid">{{'type.type' | translate }} {{"general.required" | translate }}</p>
      </ion-item>
      <p *ngIf="typeForm.hasError('double')" [class.invalid]=true>{{ 'type.double' | translate }}</p>
    </form>
    <ion-button [disabled]="!typeForm.valid" id="region-button5" ion-button color="primary" block (click)="saveType(type)">
      {{'general.save' | translate }}
    </ion-button>
    <ion-button *ngIf="!newType" id="region-button5" ion-button color="danger" block (click)="deleteType(type)">
      {{'general.suppress' | translate }}
    </ion-button>
    <ion-button color="light" block [routerLink]="['/types']">
      {{'general.cancel' | translate }}
    </ion-button>
  </div>

</ion-content>