<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="medium">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!--         <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngFor="let p of appMenuItems" [routerDirection]="'forward'" [routerLink]="[p.url]" lines="full">
              <ion-icon *ngIf="p.icon" slot="start" [name]="p.icon"></ion-icon>
              <ion-icon *ngIf="p.iconUrl" slot="start" src={{p.iconUrl}}></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
            <ion-item lines="full">
              <ion-icon slot="start" name="close-circle"></ion-icon>
              test
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
 -->
        <app-multi-level-side-menu [settings]="sideMenuSettings" [options]="options" (change)="onOptionSelected($event)"></app-multi-level-side-menu>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>