<ion-app>
  <ion-split-pane *ngIf="currentUser">
    <ion-menu>
      <ion-header>
        <ion-toolbar color="medium">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <app-multi-level-side-menu [settings]="sideMenuSettings" [options]="options"
          (change)="onOptionSelected($event)"></app-multi-level-side-menu>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
  <ion-router-outlet *ngIf="!currentUser" main></ion-router-outlet>
</ion-app>