.padBefore {
  padding-left: 15px;
}

/* 
.ion-canvas {
  margin: auto;
}

#canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
 */
canvas {
  display: inline;
}

.addPhoto {
  margin-top: 50px;
}

label {
  cursor: pointer;
  position: relative;
  background: #3880ff;
  border-radius: .5em;
  color: white;
  margin-left: 50px;
  float: right;
  padding: .5em;

  /* Style as you please, it will become the visible UI component. */
}

label.nophoto {
  margin-top: 0px;
}

#uploadphoto {
  opacity: 0;
  position: absolute;
  /* z-index: -1; creates problems with other input elements that look like frozen when this style is activeted */
}

.fileContainer {
  overflow: hidden;
  position: relative;
  background: blue;
  border-radius: .5em;
  float: left;
  padding: .5em;

}

.fileContainer [type=file] {
  cursor: pointer;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

p.invalid {
  font-size: 70%;
  color: var(--ion-color-danger);
}

.select-md {
  min-width: 70%;
}

#hiddenInput {
  display: none;
}