<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'page.region' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="list">
    <div *ngIf="origineList.length>0">
      <ion-list>
        <ion-item *ngFor="let origine of origineList" (click)="editOrigine(origine)">
          {{ origine.pays }} - {{origine.region}}
          <!-- <ion-button slot="end" fill="outline">Modify -->
          <ion-icon slot="end" color="dark" name='md-arrow-dropright-circle'></ion-icon>
          <!-- </ion-button> -->
        </ion-item>
      </ion-list>
    </div>
    <ion-button expand="full" (click)="editOrigine(origine)">
      {{'general.add' | translate }} {{'origin.region' | translate }}
    </ion-button>
  </div>
  <div *ngIf="!list">
    <form [formGroup]="origineForm" id="origine-form4">
      <ion-item id="origine-input1">
        <ion-label floating translate>
          origin.country
        </ion-label>
        <ion-input [(ngModel)]="origine.pays" type="text" placeholder="{{ 'origin.originCountry' | translate }}"
          formControlName="pays" text-right [class.invalid]="!origineForm.controls.pays.valid && (origineForm.controls.pays.dirty || submitted)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!origineForm.controls.pays.valid  && (origineForm.controls.pays.dirty || submitted)">
        <p class="invalid">{{'origine.pays' | translate }} {{"general.required" | translate }}</p>
      </ion-item>
      <ion-item id="origine-input2">
        <ion-label floating translate>
          origin.region
        </ion-label>
        <ion-input [(ngModel)]="origine.region" type="text" placeholder="{{ 'origin.originRegion' | translate }}"
          formControlName="region" text-right [class.invalid]="!origineForm.controls.region.valid && (origineForm.controls.region.dirty || submitted)"></ion-input>
      </ion-item>
      <p *ngIf="origineForm.hasError('double')" [class.invalid]="origineForm.hasError('double')">{{
        'origin.origineDouble' | translate }}</p>
      <ion-button [disabled]="!origineForm.valid" id="region-button5" ion-button color="primary" block (click)="saveOrigine(origine)">
        <!--             <ion-button [disabled]="!origineForm.valid" id="region-button5" ion-button color="primary" block (click)="saveOrigine(origine)">
   -->
        {{'general.save' | translate }}
      </ion-button>
      <ion-button *ngIf="!newOrigine" id="region-button5" ion-button color="danger" block (click)="deleteOrigine(origine)">
        {{'general.suppress' | translate }}
      </ion-button>
      <ion-button color="light" block [routerLink]="['/regions']">
        {{'general.cancel' | translate }}
      </ion-button>
    </form>
  </div>

</ion-content>