<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'page.config' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <ion-item-group>
          <ion-item-divider color="secondary">
            <ion-label>{{'config.language' | translate }}</ion-label>
          </ion-item-divider>
          <ion-item id="configuration-select5">
            <ion-select [(ngModel)]="language" (ionChange)="languageChange($event)" name="langue" interface="popover">
              <ion-select-option *ngFor="let lang of supportedLanguages | keyvalue" [value]="lang.key">
                {{lang.value | translate }}
              </ion-select-option>
            </ion-select>
          </ion-item>

        </ion-item-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>