<ion-content color="primary" padding>
  <form #form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Please login</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-label for="username" position="floating">Username</ion-label>
              <ion-input type="text" formControlName="username"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"></ion-input>
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
            </ion-item>
            <ion-item>
              <ion-label for="password" position="floating">Password</ion-label>
              <ion-input type="password" formControlName="password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"></ion-input>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <div>
          If you don't have an account, please <a routerLink='/register'>
            register</a> first!
        </div>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>